<!DOCTYPE html>
<!--
This file is property of Power2SME pvt. ltd.
@author(developer) : Himanshu Shekhar (himanshushekhar002@gmail.com)
@Date :
@FileName For Reference :
@Purpose : 
@Other Description :
-->
<td style="height: 480px;"> 
    <div class="chatmsg message-box-container-bot">
        <img class="welcome-user-icon" ng-src="{{getBotIconUrl()}}">
        <div>
            <b>PICS</b><br/>
            <small>Virtual Assistant Agent</small>
        </div>
    </div>
<md-content id="content" style="height:160px;width: 400px;">
    <div class="chatmsg message-box-container-bot">
        <img class="user-icon" ng-src="{{getBotIconUrl()}}">
        <div>
            Hello, How can I help you ?
        </div>
    </div>
    <div class="chatmsg message-box-container-bot">
        <img class="user-icon" ng-src="{{getBotIconUrl()}}">
        <div>
            Please provide your mobile number to start with.
        </div>
    </div>
    <!-- -->
    <div>
        <div ng-repeat="msg in phoneValidationMessageList track by $index" class="chatmsg message-box-container-bot">
            <img class="user-icon" ng-src="{{getBotIconUrl()}}">
        <div id="{{$index}}">
            {{msg}}
        </div>
        </div>
    </div>
</md-content>
<div id="welcome-sign-up-container">
    <md-input-container class="md-block">            
        <label>Contact Number</label>            
        <input id="mobilenumber" ng-model="userdetail.phone" required="" my-enter="sign_up_submit()">
    </md-input-container>
    <div>
        <md-button id="chat_now_button" class="md-raised md-primary md-hue-2" ng-click="sign_up_submit()">START CHAT</md-button>
    </div>
</div>
</td>